# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
output/
!/Code/output/Bolt2/
!/Code/output/Car4/
!/Code/output/DragonBaby/
!/Code/output/
